@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');
// font-family: 'Alkatra', cursive;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
// font-family: 'Ubuntu', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
// font-family: 'Nunito', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
// font-family: 'Dancing Script', cursive;

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
// font-family: 'Merriweather', serif;

body{
    background-color: var(--bs-dark);
    color: #fff;
}

.heading-text {
    font-family: 'Alkatra', cursive;
    font-size: 2rem;
}

.cardHeading-text {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
}

.cardBody-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1rem;
}

.card-tag-text{
    font-family: 'Dancing Script', cursive;
    font-size: 1.2rem;
}

.card-date-text{
    font-family: 'Merriweather', serif;
    font-size: .7rem;
}

i {
    cursor: pointer;
}

.fa-pen-to-square {
    color: var(--bs-success)
}

.fa-trash {
    color: var(--bs-danger);
}

@mixin shadow-light($var){
    box-shadow: 0rem 1px 10px $var;
}

.navbar-shadow-light{
    @include shadow-light(var(--bs-dark));
}

.navbar-shadow-dark{
    @include shadow-light(var(--bs-light));
}